
# ignoruje pliki binarne testów
tests/bin/* 

# ignoruje plik binarny programu
test_arytm_zesp 

# ignoruje folder z plikami obiektowymi
obj/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
